
body.nav-sm .container.body .left_col {
	width: 70px;
	padding: 0;
	position: fixed;
	height: 100%;
	z-index: 200;
	background-color: #1D1D1B;
}

body.nav-sm .container.body .right_col {
	padding: 10px 20px;
	margin-left: 70px;
	z-index: 2;
}

body.nav-sm .navbar.nav_title {
	width: 70px;
}

body.nav-sm .navbar.nav_title a span {
	display: none;
}

body.nav-sm .navbar.nav_title a i {
	font-size: 27px;
	margin: 13px 0 0 3px;
}

.site_title i {
	border: 1px solid #EAEAEA;
	padding: 5px 6px;
	border-radius: 50%;
}

body.nav-sm .main_container .top_nav {
	padding: 0 !important;
	display: block;
	margin-left: 70px;
	z-index: 2;
}

body.nav-sm .nav.side-menu li a {
	text-align: center !important;
	font-weight: 400;
	font-size: 10px;
	padding: 10px 5px;
}

body.nav-sm .nav.side-menu li.active-sm {
	border-right: 5px solid #FF149B;
}

body.nav-sm>.nav.side-menu>li.active-sm>a {
	color: #1ABB9C !important;
}

body.nav-sm .nav.side-menu li a i.toggle-up {
	display: none !important;
}

body.nav-sm .nav.side-menu li a i {
	font-size: 25px !important;
	text-align: center;
	width: 100% !important;
	margin-bottom: 5px;
}

body.nav-sm ul.nav.child_menu {
	left: 100%;
	position: absolute;
	top: 0;
	padding: 10px;
	width: 210px;
	z-index: 4000;
	background: #1D1D1B;
	margin-left: 5px;
}

body.nav-sm ul.nav.child_menu li {
	padding-left: 0;
}

body.nav-sm ul.nav.child_menu li a {
	text-align: left !important;
}

body.nav-sm .profile {
	display: none;
}

.menu_section {
	margin-bottom: 35px;
}

.menu_section h3 {
	padding-left: 23px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 0;
	margin-top: 0;
	text-shadow: 1px 1px #000;
}

.menu_section>ul {
	margin-top: 10px;
}

.profile_pic {
	width: 35%;
	float: left;
}

.img-circle.profile_img {
	width: 70%;
	background: #fff;
	margin-left: 15%;
	z-index: 1000;
	position: inherit;
	margin-top: 20px;
	border: 1px solid rgba(52, 73, 94, 0.44);
	padding: 4px;
}

.profile_info {
	padding: 25px 10px 10px;
	width: 65%;
	float: left;
}

.profile_info span {
	font-size: 13px;
	line-height: 30px;
	color: #BAB8B8;
}

.profile_info h2 {
	font-size: 14px;
	color: #ECF0F1;
	margin: 0;
	font-weight: 300;
}

.profile.img_2 {
	text-align: center;
}

.profile.img_2 .profile_pic {
	width: 100%;
}

.profile.img_2 .profile_pic .img-circle.profile_img {
	width: 50%;
	margin: 10px 0 0;
}

.profile.img_2 .profile_info {
	padding: 15px 10px 0;
	width: 100%;
	margin-bottom: 10px;
	float: left;
}

#sidebar-menu span.fa {
	float: right;
	text-align: center;
	margin-top: 5px;
	font-size: 10px !important;
	min-width: inherit;
	color: #C4CFDA;
}

.active a span.fa {
	text-align: right !important;
	margin-right: 4px;
}

body.nav-sm .menu_section {
	margin: 0;
}

body.nav-sm span.fa, body.nav-sm .menu_section h3 {
	display: none !important;
}

.nav_menu {
	float: left;
	/*background: #F4F6F9;
    border-bottom: 1px solid #E6E9ED;*/
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 10px;
	width: 100%;
}

body.nav-md .container.body .col-md-3.left_col {
	width: 230px;
	padding: 0;
	position: absolute;
	display: flex;
	background-color: #1D1D1B;
}

body .container.body .right_col {
	background: #F7F7F7;
}

body.nav-md .container.body .right_col {
	padding: 10px 20px 0;
	margin-left: 230px;
}

.nav_title {
	width: 230px;
	float: left;
	background: #1D1D1B;
	border-radius: 0;
	height: 57px;
}

@media ( max-width : 991px) {
	body.nav-md .container.body .right_col, body.nav-md .container.body .top_nav
		{
		width: 100%;
		margin: 0;
	}
	body.nav-md .container.body .col-md-3.left_col {
		display: none;
		background-color: #1D1D1B;
	}
	body.nav-md .container.body .right_col {
		width: 100%;
		padding-right: 0
	}
	.right_col {
		padding: 10px !important;
	}
}

@media ( max-width : 1200px) {
	.x_title h2 {
		width: 62%;
		font-size: 17px;
	}
	.tile, .graph {
		zoom: 85%;
		height: inherit;
	}
}

@media ( max-width : 1270px) and (min-width: 192px) {
	.x_title h2 small {
		display: none
	}
}

/**  ------------------------------------------  **/
.blue {
	color: #3498DB;
}

.purple {
	color: #9B59B6;
}

.green {
	color: #1ABB9C;
}

.aero {
	color: #9CC2CB;
}

.red {
	color: #E74C3C;
}

.dark {
	color: #34495E;
}

.border-blue {
	border-color: #3498DB !important;
}

.border-purple {
	border-color: #9B59B6 !important;
}

.border-green {
	border-color: #1ABB9C !important;
}

.border-aero {
	border-color: #9CC2CB !important;
}

.border-red {
	border-color: #E74C3C !important;
}

.border-dark {
	border-color: #34495E !important;
}

.bg-white {
	background: #fff !important;
	border: 1px solid #fff !important;
	color: #FF149B;
}

.bg-green {
	background: #1ABB9C !important;
	border: 1px solid #1ABB9C !important;
	color: #fff;
}

.bg-red {
	background: #E74C3C !important;
	border: 1px solid #E74C3C !important;
	color: #fff;
}

.bg-blue {
	background: #3498DB !important;
	border: 1px solid #3498DB !important;
	color: #fff;
}

.bg-orange {
	background: #F39C12 !important;
	border: 1px solid #F39C12 !important;
	color: #fff;
}

.bg-purple {
	background: #9B59B6 !important;
	border: 1px solid #9B59B6 !important;
	color: #fff;
}

.bg-blue-sky {
	background: #50C1CF !important;
	border: 1px solid #50C1CF !important;
	color: #fff;
}

.container {
	width: 100%;
	padding: 0
}

.navbar-nav>li>a, .navbar-brand, .navbar-nav>li>a {
	color: #fff !important;
}

.navbar-brand, .navbar-nav>li>a {
	margin-bottom: 5px
}

body {
	color: #000000;
	background: #F7F7F7;
	/*#ECF0F1; #FCFCFC*/
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.471;
}

.main_container .top_nav {
	padding: 0 !important;
	display: block;
	padding: 10px 20px 0;
	margin-left: 230px;
}

.main_container {
	
}

.no-padding {
	padding: 0 !important;
}

.page-title {
	width: 100%;
	height: 65px;
	padding: 10px 0;
}

.page-title .title_left {
	width: 45%;
	float: left;
	display: block;
}

.page-title .title_left h3 {
	margin: 9px 0;
}

.page-title .title_right {
	width: 55%;
	float: left;
	display: block;
}

.page-title .title_right .pull-right {
	margin: 10px 0;
}

.fixed_height_320 {
	height: 320px;
}

.fixed_height_390 {
	height: 390px;
}

.fixed_height_200 {
	height: 200px;
}

.overflow_hidden {
	overflow: hidden
}

.progress-bar-dark {
	background-color: #34495E !important;
}

.progress-bar-gray {
	background-color: #BDC3C7 !important;
}

table.no-margin .progress {
	margin-bottom: 0;
}

.main_content {
	padding: 10px 20px;
}

.col-md-55 {
	width: 50%;
	margin-bottom: 10px;
}

@media ( max-width : 992px) {
	.tile_stats_count {
		margin-bottom: 10px;
		border-bottom: 1px solid #D9DEE4;
		padding-bottom: 10px;
	}
}

@media ( min-width : 992px) and (max-width: 1100px) {
	.tile_stats_count .count {
		font-size: 35px !important;
	}
}

@media ( max-width :768px) {
	.tile_stats_count .count {
		font-size: 30px !important;
	}
	.tile_stats_count .right span {
		font-size: 12px;
	}
}

@media ( min-width : 768px) {
	.col-md-55 {
		width: 20%;
	}
}

@media ( min-width : 992px) {
	.col-md-55 {
		width: 20%;
	}
}

@media ( min-width : 1200px) {
	.col-md-55 {
		width: 20%;
	}
}

@media ( min-width : 192px) and (max-width: 1270px) {
	.hidden-small {
		display: none !important;
	}
	table.tile_info span.right {
		margin-right: 7px;
		float: left;
	}
}

.center-margin {
	margin: 0 auto;
	float: none !important;
}

.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2,
	.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
	.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5,
	.col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6,
	.col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8,
	.col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
	.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
	.col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12,
	.col-lg-12 {
	position: relative;
	min-height: 1px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

.grid_slider .col-md-6 {
	padding: 0 40px;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	color: #1D1D1B;
	text-decoration: none;
}

a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus,
	.btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: 0;
}

a:hover, a:focus {
	text-decoration: none;
	color: #1D1D1B;
}

.navbar {
	margin-bottom: 0
}

.navbar-header {
	background: #34495E;
}

.navbar-right {
	margin-right: 0;
}

.top_nav .navbar-right {
	margin: 0;
	width: 70%;
	float: right;
}

.top_nav .navbar-right li {
	display: inline-block;
	float: right;
}

.top_nav .dropdown-menu {
	min-width: 220px;
}

.top_nav .dropdown-menu li {
	width: 100%;
}

.top_nav .dropdown-menu li a {
	width: 100%;
	padding: 12px 20px;
}

.top_nav li a i {
	font-size: 15px
}

.navbar-static-top {
	position: fixed;
	top: 0;
	width: 100%;
}

.sidebar-header {
	border-bottom: 0;
	margin-top: 46px;
}

.sidebar-header:first-of-type {
	margin-top: 0
}

.nav.side-menu>li {
	position: relative;
	display: block;
}

.nav.side-menu>li>a {
	margin-bottom: 6px;
}

.nav.side-menu>li>a:hover {
	color: #F2F5F7 !important;
}

.nav.side-menu>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background: transparent;
}

.nav.child_menu li:hover {
	background-color: rgba(255, 255, 255, 0.06);
}

.nav.child_menu li {
	padding-left: 36px
}

body.nav-md ul.nav.child_menu li:before {
	background: #FF149B;
	bottom: auto;
	content: "";
	height: 8px;
	left: 23px;
	margin-top: 15px;
	position: absolute;
	right: auto;
	width: 8px;
	z-index: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

body.nav-md ul.nav.child_menu li:after {
	border-left: 1px solid #FF149B;
	bottom: 0;
	content: "";
	left: 27px;
	position: absolute;
	top: 0;
}

.nav.side-menu>li>a, .nav.child_menu>li>a {
	color: #E7E7E7 !important;
	font-weight: 500;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 13px 15px 7px;
}

.nav.side-menu>li.current-page, .nav.side-menu>li.active {
	border-right: 5px solid #ff149b;
}

li.current-page {
	background: rgba(255, 255, 255, 0.05);
}

.nav.side-menu>li.active>a {
	color: #ff0000;
	text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479),
		color-stop(100%, #4c5566)), #686e78;
	background: -webkit-linear-gradient(#334556, #2C4257), #2A3F54;
	background: -moz-linear-gradient(#334556, #2C4257), #2A3F54;
	background: -o-linear-gradient(#334556, #2C4257), #2A3F54;
	background: linear-gradient(#000000, #000000), #000000;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset
		rgba(255, 255, 255, 0.16) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset
		rgba(255, 255, 255, 0.16) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16)
		0 1px 0;
}

li.current-page a {
	color: #1ABB9C !important
}

.navbar-brand, .navbar-nav>li>a {
	font-weight: 500;
	color: #ECF0F1 !important;
	margin-left: 0 !important;
	line-height: 32px;
}

.site_title {
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 400;
	font-size: 22px;
	width: 100%;
	color: #ECF0F1 !important;
	margin-left: 0 !important;
	line-height: 59px;
	display: block;
	height: 55px;
	margin: 0;
	padding-left: 10px;
}

.site_title:hover, .site_title:focus {
	text-decoration: none
}

.nav.navbar-nav>li>a {
	color: #515356 !important;
}

.nav.top_menu>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #34495E !important;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}

.top_search {
	padding: 0;
}

.top_search .form-control {
	border-right: 0;
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
	border-radius: 25px 0px 0px 25px;
	padding-left: 20px;
	border: 1px solid rgba(221, 226, 232, 0.49);
}

.top_search .form-control:focus {
	border: 1px solid rgba(221, 226, 232, 0.49);
	border-right: 0;
}

.top_search .input-group-btn button {
	border-radius: 0px 25px 25px 0px;
	border: 1px solid rgba(221, 226, 232, 0.49);
	border-left: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #93A2B2;
	margin-bottom: 0 !important;
}

.toggle {
	float: left;
	margin: 0;
	padding-top: 16px;
	width: 70px;
}

.toggle a {
	padding: 15px 15px 0;
	margin: 0;
}

.toggle a i {
	font-size: 26px;
}

.nav.child_menu>li>a {
	color: rgba(255, 255, 255, 0.75) !important;
	font-size: 12px;
	padding: 9px;
}

.panel_toolbox {
	float: right;
	min-width: 70px;
}

.panel_toolbox>li {
	float: left;
}

.panel_toolbox>li>a {
	padding: 5px;
	color: #C5C7CB;
	font-size: 14px;
}

.panel_toolbox>li>a:hover {
	background: #F5F7FA;
}

.line_30 {
	line-height: 30px;
}

.main_menu_side {
	padding: 0;
}

.bs-docs-sidebar .nav>li>a {
	display: block;
	padding: 4px 6px;
}

.x_content canvas {
	
}

footer {
	background: #fff;
	padding: 5px 20px 0;
	height: 45px;
	margin: 0 -17px;
}

.tile-stats.sparkline {
	padding: 10px;
	text-align: center;
}

.jqstooltip {
	background: #34495E !important;
	width: 30px !important;
	height: 22px !important;
	text-decoration: none;
}

a.btn-success, a.btn-primary, a.btn-warning, a.btn-danger {
	color: #fff !important;
}

.btn {
	border-radius: 3px;
}

.tooltip {
	display: block !important;
}

.tiles {
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 5px;
	margin-bottom: 0;
}

.tile {
	overflow: hidden;
}

.top_tiles {
	margin-bottom: 0;
}

.top_tiles .tile span {
	
}

.top_tiles .tile h2 {
	font-size: 30px;
	line-height: 30px;
	margin: 3px 0 7px;
	font-weight: bold;
}

article.media {
	width: 100%;
}

.x_panel {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 17px;
	display: inline-block;
	background: #fff;
	border: 1px solid #E6E9ED;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	opacity: 1;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}

.x_title {
	border-bottom: 2px solid #E6E9ED;
	padding: 1px 5px 6px;
	margin-bottom: 10px;
}

.x_title h2 small {
	margin-left: 10px;
}

.x_title h3 small {
	margin-left: 10px;
}

.x_title span {
	color: #BDBDBD;
}

.x_content {
	padding: 0 5px 6px;
	position: relative;
	width: 100%;
	float: left;
	clear: both;
	margin-top: 5px;
}

.x_content h4 {
	font-size: 16px;
	font-weight: 500;
}

/* radio button style */
.radio {
	padding-left: 20px;
}

.radio label {
	margin-bottom: 5px;
	min-height: 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}

radio input[type="radio"] ){
	opacity: 0;
	z-index: 1;
}

* /.bootstrap-select {
	width: 220px \0
}

.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}

.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle
	{
	border-color: #b94a48
}

.bootstrap-select.fit-width {
	width: auto !important
}

.bootstrap-select:not ([class*="col-"] ):not ([class*="form-control"] ):not
	(.input-group-btn ){
	width: 220px
}

.bootstrap-select .dropdown-toggle:focus {
	outline: thin dotted #333333 !important;
	outline: 5px auto -webkit-focus-ring-color !important;
	outline-offset: -2px
}

.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}

.bootstrap-select.form-control:not ([class*="col-"] ){
	width: 100%
}

.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}

.bootstrap-select.btn-group:not (.input-group-btn ), .bootstrap-select.btn-group[class*="col-"]
	{
	float: none;
	display: inline-block;
	margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
	.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
	float: right
}

.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group,
	.form-group .bootstrap-select.btn-group {
	margin-bottom: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control
	{
	padding: 0
}

.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}

.bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}

.bootstrap-select.btn-group>.disabled:focus {
	outline: none !important
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
	width: 100%
}

.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}

.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}

.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: 0.5em
}

.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	pointer-events: none;
	opacity: 0.9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark
	{
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, 0.2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, 0.2);
	border-bottom: 0
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid white;
	border-bottom: 0
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before,
	.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after {
	display: block
}

.bs-searchbox, .bs-actionsbox, .bs-donebutton {
	padding: 4px 8px
}

.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bs-actionsbox .btn-group button {
	width: 50%
}

.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bs-donebutton .btn-group button {
	width: 100%
}

.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}

.bs-searchbox input.form-control {
	margin-bottom: 0;
	width: 100%
}

.mobile-device {
	position: absolute !important;
	top: 0;
	left: 0;
	display: block !important;
	width: 100%;
	height: 100% !important;
	opacity: 0
}

.select2-container {
	margin: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle
}

.select2-container, .select2-drop, .select2-search, .select2-search input
	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.select2-container .select2-choice {
	display: block;
	height: 26px;
	padding: 0 0 0 8px;
	overflow: hidden;
	position: relative;
	border: 1px solid #aaa;
	white-space: nowrap;
	line-height: 26px;
	color: #444;
	text-decoration: none;
	border-radius: 4px;
	background-clip: padding-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee),
		color-stop(0.5, #fff));
	background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
	background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#ffffff',
		endColorstr= '#eeeeee', GradientType= 0);
	background-image: linear-gradient(to top, #eee 0%, #fff 50%)
}

html[dir="rtl"] .select2-container .select2-choice {
	padding: 0 8px 0 0
}

.select2-container.select2-drop-above .select2-choice {
	border-bottom-color: #aaa;
	border-radius: 0 0 4px 4px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee),
		color-stop(0.9, #fff));
	background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
	background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#eeeeee', GradientType=0);
	background-image: linear-gradient(to bottom, #eee 0%, #fff 90%)
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
	margin-right: 42px
}

.select2-container .select2-choice>.select2-chosen {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: none;
	width: auto
}

html[dir="rtl"] .select2-container .select2-choice>.select2-chosen {
	margin-left: 26px;
	margin-right: 0
}

.select2-container .select2-choice abbr {
	display: none;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 24px;
	top: 8px;
	font-size: 1px;
	text-decoration: none;
	border: 0;
	background: url("select2.png") right top no-repeat;
	cursor: pointer;
	outline: 0
}

.select2-container.select2-allowclear .select2-choice abbr {
	display: inline-block
}

.select2-container .select2-choice abbr:hover {
	background-position: right -11px;
	cursor: pointer
}

.select2-drop-mask {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 9998;
	background-color: #fff;
	filter: alpha(opacity = 0)
}

.select2-drop {
	width: 100%;
	margin-top: -1px;
	position: absolute;
	z-index: 9999;
	top: 100%;
	background: #fff;
	color: #000;
	border: 1px solid #aaa;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15)
}

.select2-drop.select2-drop-above {
	margin-top: 1px;
	border-top: 1px solid #aaa;
	border-bottom: 0;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15)
}

.select2-drop-active {
	border: 1px solid #5897fb;
	border-top: none
}

.select2-drop.select2-drop-above.select2-drop-active {
	border-top: 1px solid #5897fb
}

.select2-drop-auto-width {
	border-top: 1px solid #aaa;
	width: auto
}

.select2-container .select2-choice .select2-arrow {
	display: inline-block;
	width: 18px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #aaa;
	border-radius: 0 4px 4px 0;
	background-clip: padding-box;
	background: #ccc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc),
		color-stop(0.6, #eee));
	background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#eeeeee',
		endColorstr= '#cccccc', GradientType= 0);
	background-image: linear-gradient(to top, #ccc 0%, #eee 60%)
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
	left: 0;
	right: auto;
	border-left: none;
	border-right: 1px solid #aaa;
	border-radius: 4px 0 0 4px
}

.select2-container .select2-choice .select2-arrow b {
	display: block;
	width: 100%;
	height: 100%;
	background: url("select2.png") no-repeat 0 1px
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
	background-position: 2px 1px
}

.select2-search {
	display: inline-block;
	width: 100%;
	min-height: 26px;
	margin: 0;
	padding: 4px 4px 0 4px;
	position: relative;
	z-index: 10000;
	white-space: nowrap
}

.select2-search input {
	width: 100%;
	height: auto !important;
	min-height: 26px;
	padding: 4px 20px 4px 5px;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 1em;
	border: 1px solid #aaa;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #fff url("select2.png") no-repeat 100% -22px;
	background: url("select2.png") no-repeat 100% -22px,
		-webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff),
		color-stop(0.99, #eee));
	background: url("select2.png") no-repeat 100% -22px,
		-webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
	background: url("select2.png") no-repeat 100% -22px,
		-moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
	background: url("select2.png") no-repeat 100% -22px,
		linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0
}

html[dir="rtl"] .select2-search input {
	padding: 4px 5px 4px 20px;
	background: #fff url("select2.png") no-repeat -37px -22px;
	background: url("select2.png") no-repeat -37px -22px,
		-webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff),
		color-stop(0.99, #eee));
	background: url("select2.png") no-repeat -37px -22px,
		-webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
	background: url("select2.png") no-repeat -37px -22px,
		-moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
	background: url("select2.png") no-repeat -37px -22px,
		linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0
}

.select2-search input.select2-active {
	background: #fff url("select2-spinner.gif") no-repeat 100%;
	background: url("select2-spinner.gif") no-repeat 100%,
		-webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff),
		color-stop(0.99, #eee));
	background: url("select2-spinner.gif") no-repeat 100%,
		-webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
	background: url("select2-spinner.gif") no-repeat 100%,
		-moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
	background: url("select2-spinner.gif") no-repeat 100%,
		linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices
	{
	border: 1px solid #5897fb;
	outline: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.select2-dropdown-open .select2-choice {
	border-bottom-color: transparent;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff),
		color-stop(0.5, #eee));
	background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
	background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',
		endColorstr='#ffffff', GradientType=0);
	background-image: linear-gradient(to top, #fff 0%, #eee 50%)
}

.select2-dropdown-open.select2-drop-above .select2-choice,
	.select2-dropdown-open.select2-drop-above .select2-choices {
	border: 1px solid #5897fb;
	border-top-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff),
		color-stop(0.5, #eee));
	background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
	background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',
		endColorstr='#ffffff', GradientType=0);
	background-image: linear-gradient(to bottom, #fff 0%, #eee 50%)
}

.select2-dropdown-open .select2-choice .select2-arrow {
	background: transparent;
	border-left: none;
	filter: none
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
	border-right: none
}

.select2-dropdown-open .select2-choice .select2-arrow b {
	background-position: -18px 1px
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b
	{
	background-position: -16px 1px
}

.select2-hidden-accessible {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.select2-results {
	max-height: 200px;
	padding: 0 0 0 4px;
	margin: 4px 4px 4px 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: transparent
}

html[dir="rtl"] .select2-results {
	padding: 0 4px 0 0;
	margin: 4px 0 4px 4px
}

.select2-results ul.select2-result-sub {
	margin: 0;
	padding-left: 0
}

.select2-results li {
	list-style: none;
	display: list-item;
	background-image: none
}

.select2-results li.select2-result-with-children>.select2-result-label {
	font-weight: bold
}

.select2-results .select2-result-label {
	padding: 3px 7px 4px;
	margin: 0;
	cursor: pointer;
	min-height: 1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.select2-results-dept-1 .select2-result-label {
	padding-left: 20px
}

.select2-results-dept-2 .select2-result-label {
	padding-left: 40px
}

.select2-results-dept-3 .select2-result-label {
	padding-left: 60px
}

.select2-results-dept-4 .select2-result-label {
	padding-left: 80px
}

.select2-results-dept-5 .select2-result-label {
	padding-left: 100px
}

.select2-results-dept-6 .select2-result-label {
	padding-left: 110px
}

.select2-results-dept-7 .select2-result-label {
	padding-left: 120px
}

.select2-results .select2-highlighted {
	background: #3875d7;
	color: #fff
}

.select2-results li em {
	background: #feffde;
	font-style: normal
}

.select2-results .select2-highlighted em {
	background: transparent
}

.select2-results .select2-highlighted ul {
	background: #fff;
	color: #000
}

.select2-results .select2-no-results, .select2-results .select2-searching,
	.select2-results .select2-ajax-error, .select2-results .select2-selection-limit
	{
	background: #f4f4f4;
	display: list-item;
	padding-left: 5px
}

.select2-results .select2-disabled.select2-highlighted {
	color: #666;
	background: #f4f4f4;
	display: list-item;
	cursor: default
}

.select2-results .select2-disabled {
	background: #f4f4f4;
	display: list-item;
	cursor: default
}

.select2-results .select2-selected {
	display: none
}

.select2-more-results.select2-active {
	background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%
}

.select2-results .select2-ajax-error {
	background: rgba(255, 50, 50, 0.2)
}

.select2-more-results {
	background: #f4f4f4;
	display: list-item
}

.select2-container.select2-container-disabled .select2-choice {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow
	{
	background-color: #f4f4f4;
	background-image: none;
	border-left: 0
}

.select2-container.select2-container-disabled .select2-choice abbr {
	display: none
}

.select2-container-multi .select2-choices {
	height: auto !important;
	height: 1%;
	margin: 0;
	padding: 0 5px 0 0;
	position: relative;
	border: 1px solid #aaa;
	cursor: text;
	overflow: hidden;
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee),
		color-stop(15%, #fff));
	background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
	background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
	background-image: linear-gradient(to bottom, #eee 1%, #fff 15%)
}

html[dir="rtl"] .select2-container-multi .select2-choices {
	padding: 0 0 0 5px
}

.select2-locked {
	padding: 3px 5px 3px 5px !important
}

.select2-container-multi .select2-choices {
	min-height: 26px
}

.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid #5897fb;
	outline: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.select2-container-multi .select2-choices li {
	float: left;
	list-style: none
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
	float: right
}

.select2-container-multi .select2-choices .select2-search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap
}

.select2-container-multi .select2-choices .select2-search-field input {
	padding: 5px;
	margin: 1px 0;
	font-family: sans-serif;
	font-size: 100%;
	color: #666;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent !important
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active
	{
	background: #fff url("select2-spinner.gif") no-repeat 100% !important
}

.select2-default {
	color: #999 !important
}

.select2-container-multi .select2-choices .select2-search-choice {
	padding: 3px 5px 3px 18px;
	margin: 3px 0 3px 5px;
	position: relative;
	line-height: 13px;
	color: #333;
	cursor: default;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	background-clip: padding-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',
		endColorstr='#f4f4f4', GradientType=0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4),
		color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8),
		color-stop(100%, #eee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee
		100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee
		100%);
	background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee
		100%)
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice
	{
	margin: 3px 5px 3px 0;
	padding: 3px 18px 3px 5px
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen
	{
	cursor: default
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
	background: #d4d4d4
}

.select2-search-choice-close {
	display: block;
	width: 12px;
	height: 13px;
	position: absolute;
	right: 3px;
	top: 4px;
	font-size: 1px;
	outline: none;
	background: url("select2.png") right top no-repeat
}

html[dir="rtl"] .select2-search-choice-close {
	right: auto;
	left: 3px
}

.select2-container-multi .select2-search-choice-close {
	left: 3px
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
	left: auto;
	right: 2px
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover
	{
	background-position: right -11px
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close
	{
	background-position: right -11px
}

.select2-container-multi.select2-container-disabled .select2-choices {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice
	{
	padding: 3px 5px 3px 5px;
	border: 1px solid #ddd;
	background-image: none;
	background-color: #f4f4f4
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close
	{
	display: none;
	background: none
}

.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match
	{
	text-decoration: underline
}

.select2-offscreen, .select2-offscreen:focus {
	clip: rect(0, 0, 0, 0) !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	outline: 0 !important;
	left: 0px !important;
	top: 0px !important
}

.select2-display-none {
	display: none
}

.select2-measure-scrollbar {
	position: absolute;
	top: -10000px;
	left: -10000px;
	width: 100px;
	height: 100px;
	overflow: scroll
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only
	screen and (min-resolution: 2dppx) {
	.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr,
		.select2-container .select2-choice .select2-arrow b {
		background-image: url("select2x2.png") !important;
		background-repeat: no-repeat !important;
		background-size: 60px 40px !important
	}
	.select2-search input {
		background-position: 100% -21px !important
	}
}
	/*! Select2 Bootstrap 3 CSS v1.4.6 | MIT License | github.com/t0m/select2-bootstrap-css */
.select2-container.form-control {
	background: transparent;
	box-shadow: none;
	border: none;
	display: block;
	margin: 0;
	padding: 0
}

.select2-container .select2-choices .select2-search-field input,
	.select2-container .select2-choice, .select2-container .select2-choices
	{
	background: none;
	padding: 0;
	border-color: #ccc;
	border-radius: 2px;
	color: #555;
	font-family: "Open Sans", sans-serif;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.select2-search input {
	border-color: #ccc;
	border-radius: 2px;
	color: #555;
	font-family: "Open Sans", sans-serif;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.select2-container .select2-choices .select2-search-field input {
	-webkit-box-shadow: none;
	box-shadow: none
}

.select2-container .select2-choice {
	height: 34px;
	line-height: 1.42857
}

.select2-container.select2-container-multi.form-control {
	height: auto
}

.select2-container.input-sm .select2-choice, .input-group-sm>.select2-container.form-control .select2-choice,
	.input-group-sm>.select2-container.input-group-addon .select2-choice,
	.input-group-sm>.input-group-btn>.select2-container.btn .select2-choice,
	.input-group-sm .select2-container .select2-choice {
	height: 30px;
	line-height: 1.5;
	border-radius: 3px
}

.select2-container.input-lg .select2-choice, .input-group-lg>.select2-container.form-control .select2-choice,
	.input-group-lg>.select2-container.input-group-addon .select2-choice,
	.input-group-lg>.input-group-btn>.select2-container.btn .select2-choice,
	.input-group-lg .select2-container .select2-choice {
	height: 46px;
	line-height: 1.33333;
	border-radius: 6px
}

.select2-container-multi .select2-choices .select2-search-field input {
	height: 32px
}

.select2-container-multi.input-sm .select2-choices .select2-search-field input,
	.input-group-sm>.select2-container-multi.form-control .select2-choices .select2-search-field input,
	.input-group-sm>.select2-container-multi.input-group-addon .select2-choices .select2-search-field input,
	.input-group-sm>.input-group-btn>.select2-container-multi.btn .select2-choices .select2-search-field input,
	.input-group-sm .select2-container-multi .select2-choices .select2-search-field input
	{
	height: 28px
}

.select2-container-multi.input-lg .select2-choices .select2-search-field input,
	.input-group-lg>.select2-container-multi.form-control .select2-choices .select2-search-field input,
	.input-group-lg>.select2-container-multi.input-group-addon .select2-choices .select2-search-field input,
	.input-group-lg>.input-group-btn>.select2-container-multi.btn .select2-choices .select2-search-field input,
	.input-group-lg .select2-container-multi .select2-choices .select2-search-field input
	{
	height: 44px
}

.select2-container-multi .select2-choices .select2-search-field input {
	margin: 0
}

.select2-chosen, .select2-choice>span:first-child, .select2-container .select2-choices .select2-search-field input
	{
	padding: 6px 12px
}

.input-sm .select2-chosen, .input-group-sm>.form-control .select2-chosen,
	.input-group-sm>.input-group-addon .select2-chosen, .input-group-sm>.input-group-btn>.btn .select2-chosen,
	.input-group-sm .select2-chosen, .input-sm .select2-choice>span:first-child,
	.input-group-sm>.form-control .select2-choice>span:first-child,
	.input-group-sm>.input-group-addon .select2-choice>span:first-child,
	.input-group-sm>.input-group-btn>.btn .select2-choice>span:first-child,
	.input-group-sm .select2-choice>span:first-child, .input-sm .select2-choices .select2-search-field input,
	.input-group-sm>.form-control .select2-choices .select2-search-field input,
	.input-group-sm>.input-group-addon .select2-choices .select2-search-field input,
	.input-group-sm>.input-group-btn>.btn .select2-choices .select2-search-field input,
	.input-group-sm .select2-choices .select2-search-field input {
	padding: 5px 10px
}

.input-lg .select2-chosen, .input-group-lg>.form-control .select2-chosen,
	.input-group-lg>.input-group-addon .select2-chosen, .input-group-lg>.input-group-btn>.btn .select2-chosen,
	.input-group-lg .select2-chosen, .input-lg .select2-choice>span:first-child,
	.input-group-lg>.form-control .select2-choice>span:first-child,
	.input-group-lg>.input-group-addon .select2-choice>span:first-child,
	.input-group-lg>.input-group-btn>.btn .select2-choice>span:first-child,
	.input-group-lg .select2-choice>span:first-child, .input-lg .select2-choices .select2-search-field input,
	.input-group-lg>.form-control .select2-choices .select2-search-field input,
	.input-group-lg>.input-group-addon .select2-choices .select2-search-field input,
	.input-group-lg>.input-group-btn>.btn .select2-choices .select2-search-field input,
	.input-group-lg .select2-choices .select2-search-field input {
	padding: 10px 16px
}

.select2-container-multi .select2-choices .select2-search-choice {
	margin-top: 5px;
	margin-bottom: 3px
}

.select2-container-multi.input-sm .select2-choices .select2-search-choice,
	.input-group-sm>.select2-container-multi.form-control .select2-choices .select2-search-choice,
	.input-group-sm>.select2-container-multi.input-group-addon .select2-choices .select2-search-choice,
	.input-group-sm>.input-group-btn>.select2-container-multi.btn .select2-choices .select2-search-choice,
	.input-group-sm .select2-container-multi .select2-choices .select2-search-choice
	{
	margin-top: 3px;
	margin-bottom: 2px
}

.select2-container-multi.input-lg .select2-choices .select2-search-choice,
	.input-group-lg>.select2-container-multi.form-control .select2-choices .select2-search-choice,
	.input-group-lg>.select2-container-multi.input-group-addon .select2-choices .select2-search-choice,
	.input-group-lg>.input-group-btn>.select2-container-multi.btn .select2-choices .select2-search-choice,
	.input-group-lg .select2-container-multi .select2-choices .select2-search-choice
	{
	line-height: 24px
}

.select2-container .select2-choice .select2-arrow, .select2-container .select2-choice div
	{
	border-left: none;
	background: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false)
}

.select2-dropdown-open .select2-choice .select2-arrow,
	.select2-dropdown-open .select2-choice div {
	border-left-color: transparent;
	background: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false)
}

.select2-container .select2-choice .select2-arrow b, .select2-container .select2-choice div b
	{
	background-position: 0 3px
}

.select2-dropdown-open .select2-choice .select2-arrow b,
	.select2-dropdown-open .select2-choice div b {
	background-position: -18px 3px
}

.select2-container.input-sm .select2-choice .select2-arrow b,
	.input-group-sm>.select2-container.form-control .select2-choice .select2-arrow b,
	.input-group-sm>.select2-container.input-group-addon .select2-choice .select2-arrow b,
	.input-group-sm>.input-group-btn>.select2-container.btn .select2-choice .select2-arrow b,
	.input-group-sm .select2-container .select2-choice .select2-arrow b,
	.select2-container.input-sm .select2-choice div b, .input-group-sm>.select2-container.form-control .select2-choice div b,
	.input-group-sm>.select2-container.input-group-addon .select2-choice div b,
	.input-group-sm>.input-group-btn>.select2-container.btn .select2-choice div b,
	.input-group-sm .select2-container .select2-choice div b {
	background-position: 0 1px
}

.select2-dropdown-open.input-sm .select2-choice .select2-arrow b,
	.input-group-sm>.select2-dropdown-open.form-control .select2-choice .select2-arrow b,
	.input-group-sm>.select2-dropdown-open.input-group-addon .select2-choice .select2-arrow b,
	.input-group-sm>.input-group-btn>.select2-dropdown-open.btn .select2-choice .select2-arrow b,
	.input-group-sm .select2-dropdown-open .select2-choice .select2-arrow b,
	.select2-dropdown-open.input-sm .select2-choice div b, .input-group-sm>.select2-dropdown-open.form-control .select2-choice div b,
	.input-group-sm>.select2-dropdown-open.input-group-addon .select2-choice div b,
	.input-group-sm>.input-group-btn>.select2-dropdown-open.btn .select2-choice div b,
	.input-group-sm .select2-dropdown-open .select2-choice div b {
	background-position: -18px 1px
}

.select2-container.input-lg .select2-choice .select2-arrow b,
	.input-group-lg>.select2-container.form-control .select2-choice .select2-arrow b,
	.input-group-lg>.select2-container.input-group-addon .select2-choice .select2-arrow b,
	.input-group-lg>.input-group-btn>.select2-container.btn .select2-choice .select2-arrow b,
	.input-group-lg .select2-container .select2-choice .select2-arrow b,
	.select2-container.input-lg .select2-choice div b, .input-group-lg>.select2-container.form-control .select2-choice div b,
	.input-group-lg>.select2-container.input-group-addon .select2-choice div b,
	.input-group-lg>.input-group-btn>.select2-container.btn .select2-choice div b,
	.input-group-lg .select2-container .select2-choice div b {
	background-position: 0 9px
}

.select2-dropdown-open.input-lg .select2-choice .select2-arrow b,
	.input-group-lg>.select2-dropdown-open.form-control .select2-choice .select2-arrow b,
	.input-group-lg>.select2-dropdown-open.input-group-addon .select2-choice .select2-arrow b,
	.input-group-lg>.input-group-btn>.select2-dropdown-open.btn .select2-choice .select2-arrow b,
	.input-group-lg .select2-dropdown-open .select2-choice .select2-arrow b,
	.select2-dropdown-open.input-lg .select2-choice div b, .input-group-lg>.select2-dropdown-open.form-control .select2-choice div b,
	.input-group-lg>.select2-dropdown-open.input-group-addon .select2-choice div b,
	.input-group-lg>.input-group-btn>.select2-dropdown-open.btn .select2-choice div b,
	.input-group-lg .select2-dropdown-open .select2-choice div b {
	background-position: -18px 9px
}

.has-warning .select2-choice, .has-warning .select2-choices {
	border-color: #8a6d3b
}

.has-warning .select2-container-active .select2-choice, .has-warning .select2-container-multi.select2-container-active .select2-choices
	{
	border-color: #66512c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#c0a16b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b
}

.has-warning.select2-drop-active {
	border-color: #66512c
}

.has-warning.select2-drop-active.select2-drop.select2-drop-above {
	border-top-color: #66512c
}

.has-error .select2-choice, .has-error .select2-choices {
	border-color: #a94442
}

.has-error .select2-container-active .select2-choice, .has-error .select2-container-multi.select2-container-active .select2-choices
	{
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
}

.has-error.select2-drop-active {
	border-color: #843534
}

.has-error.select2-drop-active.select2-drop.select2-drop-above {
	border-top-color: #843534
}

.has-success .select2-choice, .has-success .select2-choices {
	border-color: #3c763d
}

.has-success .select2-container-active .select2-choice, .has-success .select2-container-multi.select2-container-active .select2-choices
	{
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168
}

.has-success.select2-drop-active {
	border-color: #2b542c
}

.has-success.select2-drop-active.select2-drop.select2-drop-above {
	border-top-color: #2b542c
}

.select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices
	{
	border-color: #4D90FE;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(77, 144, 254, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(77, 144, 254, 0.6);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out
		0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.select2-drop-active {
	border-color: #4D90FE
}

.select2-drop-auto-width, .select2-drop.select2-drop-above.select2-drop-active
	{
	border-top-color: #4D90FE
}

.input-group.select2-bootstrap-prepend [class^="select2-choice"] {
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important
}

.input-group.select2-bootstrap-append [class^="select2-choice"] {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important
}

.select2-dropdown-open [class^="select2-choice"] {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important
}

.select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	border-bottom-right-radius: 2px !important;
	border-bottom-left-radius: 2px !important;
	background: #f8f8f8;
	filter: none
}

.input-group.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"]
	{
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important
}

.input-group.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"]
	{
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important
}

.input-group.input-group-sm.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"]
	{
	border-bottom-right-radius: 3px !important
}

.input-group.input-group-lg.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"]
	{
	border-bottom-right-radius: 6px !important
}

.input-group.input-group-sm.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"]
	{
	border-bottom-left-radius: 3px !important
}

.input-group.input-group-lg.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"]
	{
	border-bottom-left-radius: 6px !important
}

.select2-results .select2-highlighted {
	color: #fff;
	background-color: #5d8fc2
}

.select2-bootstrap-append .select2-container-multiple,
	.select2-bootstrap-append .input-group-btn, .select2-bootstrap-append .input-group-btn .btn,
	.select2-bootstrap-prepend .select2-container-multiple,
	.select2-bootstrap-prepend .input-group-btn, .select2-bootstrap-prepend .input-group-btn .btn
	{
	vertical-align: top
}

.select2-container-multi .select2-choices .select2-search-choice {
	color: #555;
	background: #f8f8f8;
	border-color: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	-webkit-box-shadow: none;
	box-shadow: none
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
	background: #e4e4e4;
	border-color: #adadad;
	color: #333;
	-webkit-box-shadow: none;
	box-shadow: none
}

.select2-search-choice-close {
	margin-top: -7px;
	top: 50%
}

.select2-container .select2-choice abbr {
	top: 50%
}

.select2-results .select2-no-results, .select2-results .select2-searching,
	.select2-results .select2-selection-limit {
	background-color: #fdf7e6;
	color: #8a6d3b
}

.select2-container.select2-container-disabled .select2-choice,
	.select2-container.select2-container-disabled .select2-choices {
	cursor: not-allowed;
	background-color: #eee;
	border-color: #ccc
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow,
	.select2-container.select2-container-disabled .select2-choice div,
	.select2-container.select2-container-disabled .select2-choices .select2-arrow,
	.select2-container.select2-container-disabled .select2-choices div {
	background-color: transparent;
	border-left: 1px solid transparent
}

.select2-search input.select2-active, .select2-container-multi .select2-choices .select2-search-field input.select2-active,
	.select2-more-results.select2-active {
	background-position: 99%;
	background-position: right 4px center
}

.select2-offscreen, .select2-offscreen:focus {
	width: 1px !important;
	height: 1px !important;
	position: absolute !important
}

.checkbox {
	padding-left: 20px
}

.checkbox label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
	opacity: 0;
	z-index: 1
}

.checkbox input[type="checkbox"]:focus+label::before, .checkbox input[type="radio"]:focus+label::before
	{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.checkbox input[type="checkbox"]:checked+label::after, .checkbox input[type="radio"]:checked+label::after
	{
	font-family: "FontAwesome";
	content: ""
}

.checkbox input[type="checkbox"]:disabled+label, .checkbox input[type="radio"]:disabled+label
	{
	opacity: 0.65
}

.checkbox input[type="checkbox"]:disabled+label::before, .checkbox input[type="radio"]:disabled+label::before
	{
	background-color: #eee;
	cursor: not-allowed
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%
}

.checkbox.checkbox-inline {
	margin-top: 0
}

.checkbox-primary input[type="checkbox"]:checked+label::before,
	.checkbox-primary input[type="radio"]:checked+label::before {
	background-color: #5d8fc2;
	border-color: #5d8fc2
}

.checkbox-primary input[type="checkbox"]:checked+label::after,
	.checkbox-primary input[type="radio"]:checked+label::after {
	color: #fff
}

.checkbox-danger input[type="checkbox"]:checked+label::before,
	.checkbox-danger input[type="radio"]:checked+label::before {
	background-color: #dd5826;
	border-color: #dd5826
}

.checkbox-danger input[type="checkbox"]:checked+label::after,
	.checkbox-danger input[type="radio"]:checked+label::after {
	color: #fff
}

.checkbox-info input[type="checkbox"]:checked+label::before,
	.checkbox-info input[type="radio"]:checked+label::before {
	background-color: #5dc4bf;
	border-color: #5dc4bf
}

.checkbox-info input[type="checkbox"]:checked+label::after,
	.checkbox-info input[type="radio"]:checked+label::after {
	color: #fff
}

.checkbox-warning input[type="checkbox"]:checked+label::before,
	.checkbox-warning input[type="radio"]:checked+label::before {
	background-color: #f0b518;
	border-color: #f0b518
}

.checkbox-warning input[type="checkbox"]:checked+label::after,
	.checkbox-warning input[type="radio"]:checked+label::after {
	color: #fff
}

.checkbox-success input[type="checkbox"]:checked+label::before,
	.checkbox-success input[type="radio"]:checked+label::before {
	background-color: #64bd63;
	border-color: #64bd63
}

.checkbox-success input[type="checkbox"]:checked+label::after,
	.checkbox-success input[type="radio"]:checked+label::after {
	color: #fff
}

.radio {
	padding-left: 20px
}

.radio label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px
}

.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #ccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out
}

.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s
		cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33)
}

.radio input[type="radio"] {
	opacity: 0;
	z-index: 1
}

.radio input[type="radio"]:focus+label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.radio input[type="radio"]:checked+label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1)
}

.radio input[type="radio"]:disabled+label {
	opacity: 0.65
}

.radio input[type="radio"]:disabled+label::before {
	cursor: not-allowed
}

.radio.radio-inline {
	margin-top: 0
}

.radio-primary input[type="radio"]+label::after {
	background-color: #5d8fc2
}

.radio-primary input[type="radio"]:checked+label::before {
	border-color: #5d8fc2
}

.radio-primary input[type="radio"]:checked+label::after {
	background-color: #5d8fc2
}

.radio-danger input[type="radio"]+label::after {
	background-color: #dd5826
}

.radio-danger input[type="radio"]:checked+label::before {
	border-color: #dd5826
}

.radio-danger input[type="radio"]:checked+label::after {
	background-color: #dd5826
}

.radio-info input[type="radio"]+label::after {
	background-color: #5dc4bf
}

.radio-info input[type="radio"]:checked+label::before {
	border-color: #5dc4bf
}

.radio-info input[type="radio"]:checked+label::after {
	background-color: #5dc4bf
}

.radio-warning input[type="radio"]+label::after {
	background-color: #f0b518
}

.radio-warning input[type="radio"]:checked+label::before {
	border-color: #f0b518
}

.radio-warning input[type="radio"]:checked+label::after {
	background-color: #f0b518
}

.radio-success input[type="radio"]+label::after {
	background-color: #64bd63
}

.radio-success input[type="radio"]:checked+label::before {
	border-color: #64bd63
}

.radio-success input[type="radio"]:checked+label::after {
	background-color: #64bd63
}

input[type="checkbox"].styled:checked+label:after, input[type="radio"].styled:checked+label:after
	{
	font-family: 'FontAwesome';
	content: "\f00c"
}

input[type="checkbox"] .styled:checked+label::before, input[type="radio"] .styled:checked+label::before
	{
	color: #fff
}

input[type="checkbox"] .styled:checked+label::after, input[type="radio"] .styled:checked+label::after
	{
	color: #fff
}

.pace .pace-progress {
	background: #29d;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 2px;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s
}

.pace-inactive {
	display: none
}

.blockquote-sm {
	padding: 3px 15px;
	font-size: 14px
}

h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small,
	h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small,
	.h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small,
	.h5 small, .h5 .small, .h6 small, .h6 .small {
	font-weight: 300
}

.form-control {
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none
}

label {
	font-weight: 400
}

.help-block {
	font-size: 85%;
	color: #999
}

legend {
	font-size: 15px;
	font-weight: 400
}

.form-group {
	margin-bottom: 20px
}

.input-group-addon.bg-primary {
	border-color: #4175ab
}

.input-group-addon.bg-success {
	border-color: #c4efc4
}

.input-group-addon.bg-info {
	border-color: #cdecec
}

.input-group-addon.bg-warning {
	border-color: #fae8b6
}

.input-group-addon.bg-danger {
	border-color: #ffc9bc
}

@media ( min-width : 768px) {
	.form-horizontal.form-label-left .control-label {
		text-align: left
	}
}

.has-success .help-block, .has-success .control-label, .has-success .radio,
	.has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline,
	.has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label,
	.has-success.checkbox-inline label {
	color: #64bd63
}

.has-success .form-control {
	border-color: #64bd63;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-success .form-control:focus {
	border-color: #48a746;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#abdbab;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #abdbab
}

.has-success .input-group-addon {
	color: #64bd63;
	border-color: #64bd63;
	background-color: #64bd63
}

.has-success .form-control-feedback {
	color: #64bd63
}

.has-warning .help-block, .has-warning .control-label, .has-warning .radio,
	.has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline,
	.has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label,
	.has-warning.checkbox-inline label {
	color: #f0b518
}

.has-warning .form-control {
	border-color: #f0b518;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-warning .form-control:focus {
	border-color: #c8950d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#f6d478;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f6d478
}

.has-warning .input-group-addon {
	color: #f0b518;
	border-color: #f0b518;
	background-color: #f0b518
}

.has-warning .form-control-feedback {
	color: #f0b518
}

.has-error .help-block, .has-error .control-label, .has-error .radio,
	.has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline,
	.has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label,
	.has-error.checkbox-inline label {
	color: #dd5826
}

.has-error .form-control {
	border-color: #dd5826;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-error .form-control:focus {
	border-color: #b4461c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#eb9c7e;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eb9c7e
}

.has-error .input-group-addon {
	color: #dd5826;
	border-color: #dd5826;
	background-color: #dd5826
}

.has-error .form-control-feedback {
	color: #dd5826
}

.has-success .form-control:focus, .has-warning .form-control:focus,
	.has-error .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none
}

.input-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon,
	.input-group-lg>.input-group-btn>.btn, .input-sm, .input-group-sm>.form-control,
	.input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn
	{
	border-radius: 2px
}

.input-group-addon {
	border-radius: 2px
}

.input-rounded {
	border-radius: 4px
}

.radio, .checkbox {
	padding-left: 20px
}

.radio label, .checkbox label {
	margin-bottom: 5px;
	min-height: 0
}

.table td>.checkbox, .table th>.checkbox {
	position: relative;
	top: -8px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0
}

.table td>.checkbox>label:before, .table td>.checkbox>label:after,
	.table th>.checkbox>label:before, .table th>.checkbox>label:after {
	margin-left: 0
}

.table>thead>tr>th {
	font-weight: 600;
	text-transform: uppercase;
	border-bottom-width: 1px
}

.table-bordered th {
	background-color: #eee
}

.table-lg>thead>tr>th, .table-lg>thead>tr>td, .table-lg>tbody>tr>th,
	.table-lg>tbody>tr>td, .table-lg>tfoot>tr>th, .table-lg>tfoot>tr>td {
	padding: 10px
}

.table-sm>thead>tr>th, .table-sm>thead>tr>td, .table-sm>tbody>tr>th,
	.table-sm>tbody>tr>td, .table-sm>tfoot>tr>th, .table-sm>tfoot>tr>td {
	padding: 6px
}

.table-hover>tbody>tr:hover .progress {
	background-color: #fff
}

.dropdown-menu {
	font-size: 13px
}

.dropdown-menu>li>a {
	padding-top: 5px;
	padding-bottom: 5px
}

.nav-tabs {
	border-bottom: none;
	background-color: #ddd;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.nav-tabs>li {
	margin-bottom: 0
}

.nav-tabs>li>a {
	padding: 12px 18px;
	border: none;
	color: #999;
	-webkit-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out
}

.nav-tabs>li>a:hover {
	background-color: transparent;
	color: #555
}

.nav-tabs>li.open>a, .nav-tabs>li.open>a:hover, .nav-tabs>li.open>a:focus
	{
	background-color: #fff;
	color: #555
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	border: none;
	-webkit-box-shadow: 1px 1px 2px #ccc;
	box-shadow: 1px 1px 2px #ccc
}

.tab-content {
	position: relative;
	z-index: 1;
	background-color: #fff
}

.tab-content>.tab-pane {
	padding: 20px
}

.tabbable:before, .tabbable:after {
	content: " ";
	display: table
}

.tabbable:after {
	clear: both
}

.tab-content {
	overflow: auto
}

.tabs-below>.nav-tabs, .tabs-right>.nav-tabs, .tabs-left>.nav-tabs {
	border-bottom: 0
}

.tab-content>.tab-pane, .pill-content>.pill-pane {
	display: none
}

.tab-content>.active, .pill-content>.active {
	display: block
}

.tabs-left>.nav-tabs>li, .tabs-right>.nav-tabs>li {
	float: none
}

.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
	min-width: 74px;
	margin-right: 0;
	margin-bottom: 3px
}

.tabs-left>.nav-tabs>li:last-child>a, .tabs-right>.nav-tabs>li:last-child>a
	{
	margin-bottom: 0
}

.tabs-left>.nav-tabs {
	float: left;
	border-top-right-radius: 0
}

.tabs-left>.nav-tabs>li>a {
	margin-right: -1px;
	border-radius: 4px 0 0 4px
}

.tabs-right>.nav-tabs {
	float: right;
	border-top-left-radius: 0
}

.tabs-right>.nav-tabs>li>a {
	margin-left: -1px;
	border-radius: 0 4px 4px 0
}

.tabs-right>.nav-tabs>li.active>a {
	-webkit-box-shadow: -1px 1px 2px #ccc;
	box-shadow: -1px 1px 2px #ccc
}

.navbar {
	border: none;
	font-size: 13px;
	font-weight: 500
}

.navbar h5 {
	font-size: 13px
}

.navbar .deemphasize {
	font-size: 12px
}

.navbar-form .form-control {
	font-size: 13px
}

.navbar-form .input-group {
	width: 245px
}

.navbar-form .input-group-addon {
	color: #666
}

@media ( min-width : 768px) {
	.container>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-header,
		.container-fluid>.navbar-collapse {
		margin-right: -15px;
		margin-left: -15px
	}
}

.navbar-header>.navbar-nav {
	float: left;
	margin-left: 15px;
	margin-right: 15px
}

.navbar-header>.navbar-nav.navbar-right {
	float: right
}

@media ( max-width : 767px) {
	.navbar-header>.navbar-nav {
		margin-top: 5px;
		margin-bottom: 5px
	}
	.navbar-header>.navbar-nav+.navbar-brand {
		height: 60px;
		line-height: 30px
	}
}

.navbar-header>.navbar-nav>li {
	float: left
}

.navbar-header>.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px
}

@media ( min-width : 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0
	}
}

.breadcrumb {
	color: #999
}

.breadcrumb>.active {
	font-weight: 600
}

.content .breadcrumb {
	padding-top: 0;
	padding-bottom: 0
}

.btn-rounded {
	border-radius: 6px
}

.btn-gray {
	color: #555;
	background-color: #ddd;
	border-color: #d0d0d0
}

.btn-gray:focus, .btn-gray.focus {
	color: #555;
	background-color: #c4c4c4;
	border-color: #919191
}

.btn-gray:hover {
	color: #555;
	background-color: #c4c4c4;
	border-color: #b2b2b2
}

.btn-gray:active, .btn-gray.active, .open>.btn-gray.dropdown-toggle {
	color: #555;
	background-color: #c4c4c4;
	border-color: #b2b2b2
}

.btn-gray:active:hover, .btn-gray:active:focus, .btn-gray:active.focus,
	.btn-gray.active:hover, .btn-gray.active:focus, .btn-gray.active.focus,
	.open>.btn-gray.dropdown-toggle:hover, .open>.btn-gray.dropdown-toggle:focus,
	.open>.btn-gray.dropdown-toggle.focus {
	color: #555;
	background-color: #b2b2b2;
	border-color: #919191
}

.btn-gray:active, .btn-gray.active, .open>.btn-gray.dropdown-toggle {
	background-image: none
}

.btn-gray.disabled, .btn-gray.disabled:hover, .btn-gray.disabled:focus,
	.btn-gray.disabled.focus, .btn-gray.disabled:active, .btn-gray.disabled.active,
	.btn-gray[disabled], .btn-gray[disabled]:hover, .btn-gray[disabled]:focus,
	.btn-gray[disabled].focus, .btn-gray[disabled]:active, .btn-gray[disabled].active,
	fieldset[disabled] .btn-gray, fieldset[disabled] .btn-gray:hover,
	fieldset[disabled] .btn-gray:focus, fieldset[disabled] .btn-gray.focus,
	fieldset[disabled] .btn-gray:active, fieldset[disabled] .btn-gray.active
	{
	background-color: #ddd;
	border-color: #d0d0d0
}

.btn-gray .badge {
	color: #ddd;
	background-color: #555
}

.btn-outline {
	color: #fff;
	background-color: transparent;
	border-color: #fff
}

.btn-outline:focus, .btn-outline.focus {
	color: #fff;
	background-color: transparent;
	border-color: #bfbfbf
}

.btn-outline:hover {
	color: #fff;
	background-color: transparent;
	border-color: #e0e0e0
}

.btn-outline:active, .btn-outline.active, .open>.btn-outline.dropdown-toggle
	{
	color: #fff;
	background-color: transparent;
	border-color: #e0e0e0
}

.btn-outline:active:hover, .btn-outline:active:focus, .btn-outline:active.focus,
	.btn-outline.active:hover, .btn-outline.active:focus, .btn-outline.active.focus,
	.open>.btn-outline.dropdown-toggle:hover, .open>.btn-outline.dropdown-toggle:focus,
	.open>.btn-outline.dropdown-toggle.focus {
	color: #fff;
	background-color: transparent;
	border-color: #bfbfbf
}

.btn-outline:active, .btn-outline.active, .open>.btn-outline.dropdown-toggle
	{
	background-image: none
}

.btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline.disabled:focus,
	.btn-outline.disabled.focus, .btn-outline.disabled:active, .btn-outline.disabled.active,
	.btn-outline[disabled], .btn-outline[disabled]:hover, .btn-outline[disabled]:focus,
	.btn-outline[disabled].focus, .btn-outline[disabled]:active,
	.btn-outline[disabled].active, fieldset[disabled] .btn-outline,
	fieldset[disabled] .btn-outline:hover, fieldset[disabled] .btn-outline:focus,
	fieldset[disabled] .btn-outline.focus, fieldset[disabled] .btn-outline:active,
	fieldset[disabled] .btn-outline.active {
	background-color: transparent;
	border-color: #fff
}

.btn-outline .badge {
	color: transparent;
	background-color: #fff
}

.btn-outline:hover, .btn-outline:focus {
	background-color: rgba(255, 255, 255, 0.1)
}

.btn-link:focus, .btn-link:active:focus, .btn-link.active:focus {
	outline: 0
}

.label {
	font-size: 11px;
	font-weight: 600
}

.btn-toolbar {
	margin-top: 10px;
	margin-bottom: 10px
}

.progress {
	-webkit-box-shadow: none;
	box-shadow: none
}

.progress-bar {
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none
}

.progress-sm {
	height: 10px;
	margin-bottom: 10px
}

.progress-xs {
	height: 5px;
	margin-bottom: 10px
}

.progress-bar-gray {
	background-color: #555
}

.progress-striped .progress-bar-gray {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
}

.progress-bar-gray-light {
	background-color: #999
}

.progress-striped .progress-bar-gray-light {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
}

.widget-body.no-padding>.list-group {
	margin: 0
}

.widget-body.no-padding>.list-group .list-group-item {
	border-width: 1px 0
}

.list-group-lg .list-group-item {
	padding: 15px 15px
}

.list-group:last-of-type .list-group-item:last-child {
	border-bottom: 0
}

.panel {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.panel-heading {
	padding-top: 13px;
	padding-bottom: 13px
}

.panel-title>a {
	display: block
}

.panel-title>a>i {
	-webkit-transition: -webkit-transform 0.35s ease;
	-moz-transition: -moz-transform 0.35s ease;
	-o-transition: -o-transform 0.35s ease;
	transition: transform 0.35s ease
}

.panel-title>a.collapsed {
	color: #999
}

.panel-title>a.collapsed:hover {
	color: #343434
}

.panel-title>a.collapsed>i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

h1.panel-title, .h1.panel-title {
	font-size: 36px
}

h2.panel-title, .h2.panel-title {
	font-size: 30px
}

h3.panel-title, .h3.panel-title {
	font-size: 24px
}

h4.panel-title, .h4.panel-title {
	font-size: 18px
}

h5.panel-title, .h5.panel-title {
	font-size: 14px
}

h6.panel-title, .h6.panel-title {
	font-size: 12px
}

.dropdown-menu>.panel {
	margin-top: -5px;
	margin-bottom: -5px
}

.panel-heading {
	border-color: #ddd
}

.tooltip-inner {
	border-radius: 3px
}

.alert-sm {
	padding: 10px 12px;
	font-size: 13px
}

.alert-sm .close {
	font-size: 18px
}

.alert-dismissable .close {
	position: static;
	color: #000
}

.popover {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.popover-content {
	padding: 20px
}

.modal-open .content-wrap, .modal-open.nav-collapsed .content-wrap,
	.modal-open.nav-static .content-wrap {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	position: static
}

.modal-open .sidebar, .modal-open.nav-collapsed .sidebar, .modal-open.nav-static .sidebar
	{
	z-index: -1
}

.pagination {
	font-weight: 400
}

.pagination>li {
	display: inline
}

.pagination>li>a, .pagination>li>span {
	border-radius: 4px;
	margin: 0 2px
}

@media screen and (min-width: 768px) {
	.jumbotron {
		padding-left: 30px;
		padding-right: 30px
	}
}

.fa-spin-fast {
	-webkit-animation: fa-spin 1s infinite linear;
	-moz-animation: fa-spin 1s infinite linear;
	-o-animation: fa-spin 1s infinite linear;
	animation: fa-spin 1s infinite linear
}

.bootstrap-select.btn-group:not (.input-group-btn ), .bootstrap-select.btn-group[class*="span"]
	{
	margin-bottom: 0
}

.select2-drop {
	border-radius: 0 0 4px 4px
}

.select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices
	{
	-webkit-box-shadow: none;
	box-shadow: none
}

.select2-container-multi .select2-choices .select2-search-choice {
	border-radius: 2px
}

.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr,
	.select2-container .select2-choice .select2-arrow b {
	background-image: url("../vendor/select2/select2.png")
}

@media ( min--moz-device-pixel-ratio : 1.3) , ( -o-min-device-pixel-ratio : 2.6 /
		2) , ( -webkit-min-device-pixel-ratio : 1.3) , (
		min-device-pixel-ratio : 1.3) , ( min-resolution : 1.3dppx) {
	.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr,
		.select2-container .select2-choice .select2-arrow b {
		background-image: url("../vendor/select2/select2x2.png") !important
	}
}

.select2-search input.select2-active, .select2-more-results.select2-active,
	.select2-container-multi .select2-choices .select2-search-field input.select2-active
	{
	background-image: url("../vendor/select2/select2-spinner.gif")
}

.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s
}

.pace .pace-progress {
	background: #5d8fc2;
	position: absolute;
	top: 50px
}

.pace .pace-activity {
	position: absolute;
	top: 65px;
	border-width: 1px;
	left: 15px;
	right: auto;
	width: 18px;
	height: 18px;
	border-top-color: #5d8fc2;
	border-left-color: #5d8fc2
}

.pace .pace-progress-inner {
	right: -10px;
	width: 10px
}

@media ( max-width : 767px) {
	.table-no-more, .table-no-more thead, .table-no-more tbody,
		.table-no-more th, .table-no-more td, .table-no-more tr {
		display: block
	}
	.table-no-more thead>tr {
		position: absolute;
		top: -9999px;
		left: -9999px
	}
	.table-no-more tbody>tr>td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%
	}
	.table-no-more tbody>tr>td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		content: attr(data-col-title)
	}
}

.rickshaw_graph .detail {
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.1);
	bottom: 0;
	width: 1px;
	transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear
}

.rickshaw_graph .detail.inactive {
	opacity: 0
}

.rickshaw_graph .detail .item.active {
	opacity: 1
}

.rickshaw_graph .detail .x_label {
	font-family: Arial, sans-serif;
	border-radius: 3px;
	padding: 6px;
	opacity: 0.5;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	position: absolute;
	background: white;
	white-space: nowrap
}

.rickshaw_graph .detail .x_label.left {
	left: 0
}

.rickshaw_graph .detail .x_label.right {
	right: 0
}

.rickshaw_graph .detail .item {
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: 0.25em;
	font-size: 12px;
	font-family: Arial, sans-serif;
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin-left: 1em;
	margin-right: 1em;
	margin-top: -1em;
	white-space: nowrap
}

.rickshaw_graph .detail .item.left {
	left: 0
}

.rickshaw_graph .detail .item.right {
	right: 0
}

.rickshaw_graph .detail .item.active {
	opacity: 1;
	background: rgba(0, 0, 0, 0.8)
}

.rickshaw_graph .detail .item:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	content: "";
	border: 5px solid transparent
}

.rickshaw_graph .detail .item.left:after {
	top: 1em;
	left: -5px;
	margin-top: -5px;
	border-right-color: rgba(0, 0, 0, 0.8);
	border-left-width: 0
}

.rickshaw_graph .detail .item.right:after {
	top: 1em;
	right: -5px;
	margin-top: -5px;
	border-left-color: rgba(0, 0, 0, 0.8);
	border-right-width: 0
}

.rickshaw_graph .detail .dot {
	width: 4px;
	height: 4px;
	margin-left: -3px;
	margin-top: -3.5px;
	border-radius: 5px;
	position: absolute;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: white;
	border-width: 2px;
	border-style: solid;
	display: none;
	background-clip: padding-box
}

.rickshaw_graph .detail .dot.active {
	display: block
}

.rickshaw_graph {
	position: relative
}

.rickshaw_graph svg {
	display: block;
	overflow: hidden
}

.rickshaw_graph .x_tick {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0px;
	border-left: 1px dotted rgba(0, 0, 0, 0.2);
	pointer-events: none
}

.rickshaw_graph .x_tick .title {
	position: absolute;
	font-size: 12px;
	font-family: Arial, sans-serif;
	opacity: 0.5;
	white-space: nowrap;
	margin-left: 3px;
	bottom: 1px
}

.rickshaw_annotation_timeline {
	height: 1px;
	border-top: 1px solid #e0e0e0;
	margin-top: 10px;
	position: relative
}

.rickshaw_annotation_timeline .annotation {
	position: absolute;
	height: 6px;
	width: 6px;
	margin-left: -2px;
	top: -3px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.25)
}

.rickshaw_graph .annotation_line {
	position: absolute;
	top: 0;
	bottom: -6px;
	width: 0px;
	border-left: 2px solid rgba(0, 0, 0, 0.3);
	display: none
}

.rickshaw_graph .annotation_line.active {
	display: block
}

.rickshaw_graph .annotation_range {
	background: rgba(0, 0, 0, 0.1);
	display: none;
	position: absolute;
	top: 0;
	bottom: -6px
}

.rickshaw_graph .annotation_range.active {
	display: block
}

.rickshaw_graph .annotation_range.active.offscreen {
	display: none
}

.rickshaw_annotation_timeline .annotation .content {
	background: white;
	color: black;
	opacity: 0.9;
	padding: 5px 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	position: relative;
	z-index: 20;
	font-size: 12px;
	padding: 6px 8px 8px;
	top: 18px;
	left: -11px;
	width: 160px;
	display: none;
	cursor: pointer
}

.rickshaw_annotation_timeline .annotation .content:before {
	content: "\25b2";
	position: absolute;
	top: -11px;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8)
}

.rickshaw_annotation_timeline .annotation.active,
	.rickshaw_annotation_timeline .annotation:hover {
	background-color: rgba(0, 0, 0, 0.8);
	cursor: none
}

.rickshaw_annotation_timeline .annotation .content:hover {
	z-index: 50
}

.rickshaw_annotation_timeline .annotation.active .content {
	display: block
}

.rickshaw_annotation_timeline .annotation:hover .content {
	display: block;
	z-index: 50
}

.rickshaw_graph .y_axis, .rickshaw_graph .x_axis_d3 {
	fill: none
}

.rickshaw_graph .y_ticks .tick line, .rickshaw_graph .x_ticks_d3 .tick {
	stroke: rgba(0, 0, 0, 0.16);
	stroke-width: 2px;
	shape-rendering: crisp-edges;
	pointer-events: none
}

.rickshaw_graph .y_grid .tick, .rickshaw_graph .x_grid_d3 .tick {
	z-index: -1;
	stroke: rgba(0, 0, 0, 0.2);
	stroke-width: 1px;
	stroke-dasharray: 1 1
}

.rickshaw_graph .y_grid .tick[data-y-value="0"] {
	stroke-dasharray: 1 0
}

.rickshaw_graph .y_grid path, .rickshaw_graph .x_grid_d3 path {
	fill: none;
	stroke: none
}

.rickshaw_graph .y_ticks path, .rickshaw_graph .x_ticks_d3 path {
	fill: none;
	stroke: #808080
}

.rickshaw_graph .y_ticks text, .rickshaw_graph .x_ticks_d3 text {
	opacity: 0.5;
	font-size: 12px;
	pointer-events: none
}

.rickshaw_graph .x_tick.glow .title, .rickshaw_graph .y_ticks.glow text
	{
	fill: black;
	color: black;
	text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1), 1px -1px 0
		rgba(255, 255, 255, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1), 0px 1px
		0 rgba(255, 255, 255, 0.1), 0px -1px 0 rgba(255, 255, 255, 0.1), 1px
		0px 0 rgba(255, 255, 255, 0.1), -1px 0px 0 rgba(255, 255, 255, 0.1),
		-1px -1px 0 rgba(255, 255, 255, 0.1)
}

.rickshaw_graph .x_tick.inverse .title, .rickshaw_graph .y_ticks.inverse text
	{
	fill: white;
	color: white;
	text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0
		rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8), 0px 1px 0
		rgba(0, 0, 0, 0.8), 0px -1px 0 rgba(0, 0, 0, 0.8), 1px 0px 0
		rgba(0, 0, 0, 0.8), -1px 0px 0 rgba(0, 0, 0, 0.8), -1px -1px 0
		rgba(0, 0, 0, 0.8)
}

.rickshaw_legend {
	font-family: Arial;
	font-size: 12px;
	color: white;
	background: #404040;
	display: inline-block;
	padding: 12px 5px;
	border-radius: 2px;
	position: relative
}

.rickshaw_legend:hover {
	z-index: 10
}

.rickshaw_legend .swatch {
	width: 10px;
	height: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2)
}

.rickshaw_legend .line {
	clear: both;
	line-height: 140%;
	padding-right: 15px
}

.rickshaw_legend .line .swatch {
	display: inline-block;
	margin-right: 3px;
	border-radius: 2px
}

.rickshaw_legend .label {
	margin: 0;
	white-space: nowrap;
	display: inline;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
	font-weight: normal;
	line-height: normal;
	padding: 0px;
	text-shadow: none
}

.rickshaw_legend .action:hover {
	opacity: 0.6
}

.rickshaw_legend .action {
	margin-right: 0.2em;
	font-size: 10px;
	opacity: 0.2;
	cursor: pointer;
	font-size: 14px
}

.rickshaw_legend .line.disabled {
	opacity: 0.4
}

.rickshaw_legend ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 2px;
	cursor: pointer
}

.rickshaw_legend li {
	padding: 0 0 0 2px;
	min-width: 80px;
	white-space: nowrap
}

.rickshaw_legend li:hover {
	background: rgba(255, 255, 255, 0.08);
	border-radius: 3px
}

.rickshaw_legend li:active {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px
}

ul.wysihtml5-toolbar {
	margin: 0;
	padding: 0;
	display: block
}

ul.wysihtml5-toolbar::after {
	clear: both;
	display: table;
	content: ""
}

ul.wysihtml5-toolbar>li {
	float: left;
	display: list-item;
	list-style: none;
	margin: 0 5px 10px 0
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
	font-weight: bold
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
	font-style: italic
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
	text-decoration: underline
}

ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	background-color: #E6E6E6;
	background-color: #D9D9D9;
	outline: 0
}

ul.wysihtml5-commands-disabled .dropdown-menu {
	display: none !important
}

ul.wysihtml5-toolbar div.wysihtml5-colors {
	display: block;
	width: 50px;
	height: 20px;
	margin-top: 2px;
	margin-left: 5px;
	position: absolute;
	pointer-events: none
}

ul.wysihtml5-toolbar a.wysihtml5-colors-title {
	padding-left: 70px
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] {
	background: black !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] {
	background: silver !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] {
	background: gray !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] {
	background: maroon !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] {
	background: red !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] {
	background: purple !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] {
	background: green !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] {
	background: olive !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] {
	background: navy !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] {
	background: blue !important
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] {
	background: orange !important
}

.switchery {
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	position: relative;
	vertical-align: middle;
	width: 50px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: content-box;
	background-clip: content-box
}

.switchery>small {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	height: 30px;
	position: absolute;
	top: 0;
	width: 30px
}

.switchery-small {
	border-radius: 20px;
	height: 20px;
	width: 33px
}

.switchery-small>small {
	height: 20px;
	width: 20px
}

.switchery-large {
	border-radius: 40px;
	height: 40px;
	width: 66px
}

.switchery-large>small {
	height: 40px;
	width: 40px
}

.widget-controls {
	position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 14px;
    font-size: 12px;
}
/
*
!